{
    "RootNamespace": "GraduateThesisManager",
    "Connections": [
        {
            "Key": "GraduateThesisManager",
            "ConnectionString": "Data Source=192.168.1.173;Initial Catalog=GraduateThesisManagerDB;Integrated Security=False;User Id=sa;Password=Start123;MultipleActiveResultSets=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.MessageStatus",
                    "Identifier": "MessageStatus",
                    "Module": "GraduateThesisManager",
                    "ConnectionKey": "GraduateThesisManager",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Messages",
                    "Identifier": "Messages",
                    "Module": "Common",
                    "ConnectionKey": "GraduateThesisManager",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\GraduateThesisManager\\GraduateThesisManager.Web\\GraduateThesisManager.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}