@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ModuleCourses.ModulesCourses.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GraduateThesisManager.ModuleCourses.ModulesCoursesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>