@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Common.RegistrationStatus.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GraduateThesisManager.Common.RegistrationStatusGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>