@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Thesis.ThesisPool.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GraduateThesisManager.Thesis.ThesisPoolGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>